#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_HEAP_PERFORMANCE_TEST
	bool "Heap performance test"
	depends on !DISABLE_PTHREAD
	select CLOCK_MONOTONIC
	select LIBC_LONG_LONG
	default n
	---help---
		Measure allocation/free batch timings and task competition on one shared heap.

config USER_ENTRYPOINT
	string
	default "heaptest_main" if ENTRY_HEAP_PERFORMANCE_TEST
